<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filepath" value="C:\Users\yonia\source\repos\TournamentTrackerWPF\TrackerLibrary\TextFileData\"/>
    <add key="greaterWins" value="1"/>
    <add key="senderEmail" value="Papercut@papercut.com"/>
    <add key="senderDisplayName" value="Tournament Tracker Manager"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=Yoni-laptop;Database=Tournaments;Trusted_Connection=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient;"/>
  </connectionStrings>
  <!-- <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="127.0.0.1" port="25" userName="username" password="password" enableSsl="false"/>
      </smtp>
    </mailSettings>
   </system.net> -->
</configuration>